.page-title {
  font-size: 34px;
  font-weight: 500;
  margin: 20px 0px;
}
.App button {
  margin-right: 14px;
}
.header-taskform {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #007bff;
  padding: 10px 14px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.header-taskform .close {
  padding-top: 12px;
  font-size: 36px;
  color: #fff;
}
.modal-content {
  border: 1px solid #eaeaea;
  border-radius: 20px;
}
td {
  text-align: center;
}
.sort-selected::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  margin-left: 10px;
  display: inline-block;
}